<div class="container">
	<div class="row">
		<div class="span3">
			<%= render "partials/user_sidebar" %>
		</div>
		<div class="span9">
      <h2>Lists</h2>
      <p><%= link_to "New List", new_list_path %></p>
      <% for list in @lists %>
        <%= list.name %>

        <%= form_for([list, list.items.build], html: { class: "form-inline" } ) do |f| %>
        <%= f.text_field :name, placeholder: "Add an item..." %>
        <%= f.submit "Add Item", class: "btn" %>
      <% end %>

      <% list.items.each do |item| %>
        <% if item.name.present? %>
        <p><%= item.name %> | <%= link_to "Delete", item, method: :delete %> </p>
        <% end %>
      <% end %>
        
      <% end %>

      

    </div>
	</div>
</div>
