<head>
	<div class="navbar black navbar-inverse">
		<div class="container">
		<div class="row">
			<div class="span3">
				<a class="brand" href="#">Bogofy</a>
			</div>
			<div class="span9 pull-right">
				<ul class="nav pull-right">
					<li><%= link_to "How it Works", "#" %></li>
					<li><%= link_to "Features", "#" %></li>
					<li><%= link_to "Get Started Now", '#' %></li>
					<li><%= link_to "Login", '#' %></li>
				</ul>
			</div>
		</div>
	</div>
	</div>
	
</head>


<div class="container">

<!--h1 class="center-text bogofy">Bogofy</h1-->





<h1>Bogofy Web App</h1>
<p></p>

<br>
<br>
<br>



<p>
  <%= link_to "Create an account", new_identity_path %> or
  <%= link_to "login", "/auth/identity" %> with a password.
</p>

<div class="container">
	<p><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %> or Sign in below.</p>
	<%= form_tag "/auth/identity/callback" do %>
		<div>
			<%= text_field_tag :auth_key, nil, placeholder: "Email" %>
		</div>
		<div>
			<%= password_field_tag :password, nil, placeholder: "Password" %>
		</div>
		<div>
			<%= submit_tag "Log In", class: "btn btn-primary" %>
		</div>
	<% end %>
</div>




<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
</div>

