<%= form_for @transaction do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :spent %><br />
    <%= f.text_field :spent %>
  </p>
  <p>
    <%= f.label :saved %><br />
    <%= f.text_field :saved %>
  </p>
  <p><%= f.submit %></p>
<% end %>
